@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvendios</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Este es el inde 2! tengan cuidado!</h1>
Nombre : @ViewBag.NombreUsuario 
<hr />
Edad : @(ViewBag.Edad * 2)